# macos
**/.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# node.js
**/node_modules
**/package-lock.json
**/yarn.lock

# python
**/.venv

# hexo
docs/pages/hexo/**/Thumbs.db
docs/pages/hexo/**/db.json
docs/pages/hexo/**/*.log
docs/pages/hexo/**/.deploy*/

# local env files
.env.local
.env.*.local
