/* Docsify Pagination */
.docsify-pagination-container {
    border-top: 1px solid var(--global-border-default-color, #eee) !important;
}

/* Docsify Search */
.search .input-wrap>input[type=search] {
    background: #3f3f3f ! important;
}

/* Gitalk */
.gt-container .gt-popup {
    background-color: #3f3f3f !important;
}

.gt-container .gt-btn-preview {
    background-color: #3f3f3f !important;
}

.gt-container {

    .gt-header-textarea,
    .gt-header-preview {
        background-color: #4d4c4c !important;
        border: 1px solid rgba(255, 255, 255, .1) !important;
    }
}
