/* Serif */

@font-face {
    font-family: 'HYQuanTangShiJF';
    src: url('./fonts/HYQuanTangShi/HYQuanTangShiJF.ttf');
}

@font-face {
    font-family: 'HYKaiTiS';
    src: url('./fonts/HYKaiTi/HYKaiTiS.ttf');
}

@font-face {
    font-family: 'QuanZiKuKai';
    src: url('./fonts/QuanZiKuKai/TW-Kai-98_1.ttf');
}

@font-face {
    font-family: 'QuanZiKuKai-extb';
    src: url('./fonts/QuanZiKuKai/TW-Kai-Ext-B-98_1.ttf');
}

@font-face {
    font-family: 'QuanZiKuKai-plus';
    src: url('./fonts/QuanZiKuKai/TW-Kai-Plus-98_1.ttf');
}

@font-face {
    font-family: 'WeibeiSC-Bold';
    src: url('./fonts/WeibeiSC-Bold.otf');
}

@font-face {
    font-family: 'HYLuoHuaShiW';
    src: url('./fonts/HYLuoHuaShiW.ttf');
}

@font-face {
    font-family: 'FZJiaGW';
    src: url('./fonts/FZJiaGW.ttf');
}

@font-face {
    font-family: 'FZXiaoZhuan';
    src: url('./fonts/FZXiaoZhuan.ttf');
}

/* ZhouWen */
@font-face {
    font-family: 'ShirakawaChubun';
    src: url('./fonts/Shirakawa_v1_101/ShirakawaChubun.ttf');
}

/* JinWen */
@font-face {
    font-family: 'ShirakawaKinbun';
    src: url('./fonts/Shirakawa_v1_101/ShirakawaKinbun.ttf');
}

@font-face {
    font-family: 'ShirakawaKinbun-2';
    src: url('./fonts/Shirakawa_v1_101/ShirakawaKinbun2.ttf');
}

/* GuWen */
@font-face {
    font-family: 'ShirakawaKobun';
    src: url('./fonts/Shirakawa_v1_101/ShirakawaKobun.ttf');
}

/* JiaGu */
@font-face {
    font-family: 'ShirakawaKoukotsu';
    src: url('./fonts/Shirakawa_v1_101/ShirakawaKoukotsu.ttf');
}

@font-face {
    font-family: 'ShirakawaKoukotsu-2';
    src: url('./fonts/Shirakawa_v1_101/ShirakawaKoukotsu2.ttf');
}

/* XiaoZhuan */
@font-face {
    font-family: 'ShirakawaTenbun';
    src: url('./fonts/Shirakawa_v1_101/ShirakawaTenbun.ttf');
}

@font-face {
    font-family: 'ShirakawaTenbun-2';
    src: url('./fonts/Shirakawa_v1_101/ShirakawaTenbun2.ttf');
}

@font-face {
    font-family: 'SortsMillGoudy';
    src: url('./fonts/Sorts_Mill_Goudy/SortsMillGoudy-Regular.ttf');
}

@font-face {
    font-family: 'SortsMillGoudy';
    src: url('./fonts/Sorts_Mill_Goudy/SortsMillGoudy-Italic.ttf');
    font-style: italic;
}

/* CJK Ext A-I */
@font-face {
    font-family: 'Jigmo';
    src: url('./fonts/Jigmo-20230816/Jigmo.ttf');
}

@font-face {
    font-family: 'Jigmo-2';
    src: url('./fonts/Jigmo-20230816/Jigmo2.ttf');
}

@font-face {
    font-family: 'Jigmo-3';
    src: url('./fonts/Jigmo-20230816/Jigmo3.ttf');
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('./fonts/Cormorant_Garamond/CormorantGaramond-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('./fonts/Cormorant_Garamond/CormorantGaramond-Italic-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: italic;
}

/* Blackletter */
@font-face {
    font-family: 'UnifrakturMaguntia';
    src: url('./fonts/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf');
}

@font-face {
    font-family: 'GentiumPlus';
    src: url('./fonts/Gentium_Plus/GentiumPlus-Regular.ttf');
}

@font-face {
    font-family: 'GentiumPlus';
    src: url('./fonts/Gentium_Plus/GentiumPlus-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'GentiumPlus';
    src: url('./fonts/Gentium_Plus/GentiumPlus-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'GentiumPlus';
    src: url('./fonts/Gentium_Plus/GentiumPlus-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sahitya';
    src: url('./fonts/Sahitya/Sahitya-Regular.ttf');
}

@font-face {
    font-family: 'Sahitya';
    src: url('./fonts/Sahitya/Sahitya-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Tinos';
    src: url('./fonts/Tinos/Tinos-Regular.ttf');
}

@font-face {
    font-family: 'Tinos';
    src: url('./fonts/Tinos/Tinos-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Tinos';
    src: url('./fonts/Tinos/Tinos-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Tinos';
    src: url('./fonts/Tinos/Tinos-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

/* Serif Unused */

@font-face {
    font-family: 'LXGWWenKai';
    src: url('./fonts/LXGWWenKai/LXGWWenKai-Regular.ttf');
}

@font-face {
    font-family: 'LXGWWenKai';
    src: url('./fonts/LXGWWenKai/LXGWWenKai-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'LXGWWenKai';
    src: url('./fonts/LXGWWenKai/LXGWWenKai-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'HanyiSentyFlorCalligraphy';
    src: url('./fonts/HanyiSentyFlorCalligraphy.ttf');
}

@font-face {
    font-family: 'Claire-Palmer-Serif';
    src: url('./fonts/Claire-Palmer-Serif.otf');
}

/* Sans */

@font-face {
    font-family: 'Menlo';
    font-style: normal;
    font-weight: 400;
    src: local('Menlo'), url('../sources/fonts/Menlo-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Dosis';
    src: url('./fonts/Dosis/Dosis-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
}

@font-face {
    font-family: 'AppleColorEmoji';
    src: url('./fonts/AppleColorEmoji.ttf');
}

/* Sans Unused */

@font-face {
    font-family: 'Italiana';
    src: url('./fonts/Italiana-Regular.ttf');
}

/* Handwriting */

@font-face {
    font-family: 'HuiZongGong-sc';
    src: url('./fonts/HuiZongGong/HuiZongGong-sc.ttf');
}

@font-face {
    font-family: 'HuiZongGong-tc';
    src: url('./fonts/HuiZongGong/HuiZongGong-tc.ttf');
}

@font-face {
    font-family: 'KakuGyoStd';
    src: url('./fonts/A-OTF-KakuGyoStd-Light.otf');
}

@font-face {
    font-family: 'Claire-Palmer-Script';
    src: url('./fonts/Claire-Palmer-Script.otf');
}

/* Handwriting Unused */

@font-face {
    font-family: 'HYGuoQiangXingShuW';
    src: url('./fonts/HYGuoQiangXingShuW.ttf');
}

@font-face {
    font-family: 'KouzanBrushFontSousyo';
    src: url('./fonts/KouzanBrushFontSousyo.ttf');
}

@font-face {
    font-family: 'Migikataagari';
    src: url('./fonts/migikataagari.ttf');
}

@font-face {
    font-family: 'Ballet';
    src: url('./fonts/Ballet/Ballet-Regular-VariableFont_opsz.ttf') format('truetype-variations');
    font-weight: 100 900;
}

/* Fancy */

@font-face {
    font-family: 'MRT';
    src: url('./fonts/MRT/MRT-beta.ttf');
}

@font-face {
    font-family: 'MRT-a';
    src: url('./fonts/MRT/MRT-alpha.ttf');
}

@font-face {
    font-family: 'MRT-k';
    src: url('./fonts/MRT/MRT-kananomi.ttf');
}

/* Fancy Unused */

@font-face {
    font-family: 'MadokaRunes';
    src: url('./fonts/MadokaRunes-2.0.ttf');
}
