/* Gitalk */
.markdown-body {
    font-family: 'SortsMillGoudy', 'HYQuanTangShiJF', 'HYKaiTiS', 'Ninjal-Hentaigana', 'QuanZiKuKai', 'QuanZiKuKai-extb', 'QuanZiKuKai-plus', serif !important;
}

/* Docsify Copy Code */
.docsify-copy-code-button {
    border-radius: 10px !important;
}

/* Docsify Tabs */
.docsify-tabs__tab:not(.docsify-tabs__tab--active) {
    cursor: pointer;
}

.docsify-tabs__tab:not(.docsify-tabs__tab--active):hover {
    color: var(--theme-color, #ea6f5a);
}
