/* --- Docsify --- */

/* Cover */
section.cover h1 {
    font-family: 'KakuGyoStd', cursive;
}

section.cover p {
    font-family: 'Claire-Palmer-Script', cursive;
}

.cover-page-scroll-down-chevron-div {
    margin: 40px 0 0;
    position: absolute;
    left: calc(50% - 10px);
}

.cover-page-scroll-down-chevron {
    position: relative;
    animation: moveChevron 2s infinite;
    -webkit-animation: moveChevron 2s infinite;
}

@keyframes moveChevron {
    0% {
        top: 0px;
        opacity: 0.3;
    }

    50% {
        top: 15px;
        opacity: 1;
    }

    100% {
        top: 0px;
        opacity: 0.3;
    }
}

@-webkit-keyframes moveChevron {
    0% {
        top: 0px;
        opacity: 0.3;
    }

    50% {
        top: 15px;
        opacity: 1;
    }

    100% {
        top: 0px;
        opacity: 0.3;
    }
}

/* Sidebar */
.page-sidebar-title-class {
    font-size: 2rem;
    font-family: 'KouzanBrushFontSousyo', cursive;
    color: var(--theme-color, #ea6f5a);
}

.page-sidebar-level1-title-div {
    font-family: 'WeibeiSC-Bold', serif;
    font-size: 1.25rem;
    max-width: 95%;
    margin: 10px 0 10px 5% !important;
    padding-right: 5%;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--global-border-default-color, #eee);
}

/* --- Personal Components --- */

/* Global */

/* Language Support */
.minority-language-font {
    font-family: 'GentiumPlus', serif;
}

.minority-language-font-ranjana {
    font-family: 'NithyaRanjana', serif;
}

.minority-language-font-jiagu {
    font-family: 'ShirakawaKoukotsu', 'ShirakawaKoukotsu-2', 'FZJiaGW', serif;
}

.minority-language-font-zhuanwen {
    font-family: 'ShirakawaTenbun', 'ShirakawaTenbun-2', 'FZXiaoZhuan', serif;
}

.minority-language-font-jinwen {
    font-family: 'ShirakawaKinbun', 'ShirakawaKinbun-2', serif;
}

.minority-language-font-cjkext {
    font-family: 'Jigmo', 'Jigmo-2', 'Jigmo-3', serif;
}

/* Different Writing Direction div */
.writing-direction-rtl-div {
    direction: rtl;
    text-align: right;

    blockquote {
        border-right: 4px solid var(--theme-color, #c7a2ec);
        border-left: 0;
        padding-right: 20px;
        padding-left: 0;
    }
}

.writing-direction-vertical-ltr-div {
    writing-mode: vertical-lr;
    float: left;
}

.writing-direction-vertical-rtl-div {
    writing-mode: vertical-rl;
    float: right;
}

.writing-direction-vertical-div {
    padding: 1rem 0;
    border-top: 1px solid var(--global-border-default-color, #eee);
    border-bottom: 1px solid var(--global-border-default-color, #eee);

    h1 {
        margin: 0 0 0 1rem;
    }
    
    h2 {
        margin: 0 45px 0 0.8rem;
    }
    
    h3 {
        margin: 0 40px 0 0.6rem;
    }

    figure, p {
        margin: 0 1.2em;
    }

    blockquote {
        margin: 0 2em;
        border-top: 4px solid var(--theme-color, #c7a2ec);
        border-left: 0;
        padding-top: 20px;
        padding-left: 0;
    }

    iframe {
        margin: 0 1em;
    }

    pre, output {
        margin: 0 1.2em;
    }

    code {
        margin: 2px 0;
    }

    pre > code {
        padding: 1.4rem 2.2em;
    }

    output {
        padding: 1.4rem 1.7rem;
    }

    output:last-child {
        margin-left: 0;
    }

    output:first-child {
        margin-right: 0;
    }

    pre::after, output::after {
        padding: 10px 5px 10px 0;
    }
}

div:has(.writing-direction-vertical-div) {
    overflow-y: hidden;
    overflow-x: auto;
    height: 300px;
}

/* Multi-Images Container */
.multi-images-container-section>p {
    line-height: 0;

    -webkit-column-count: 3 !important;
    -webkit-column-gap: 5px !important;
    -moz-column-count: 3 !important;
    -moz-column-gap: 5px !important;
    column-count: 3 !important;
    column-gap: 5px !important;
}

.multi-images-container-section>p>img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;

    margin: 5px 0 0 !important;
}

@media screen and (max-width: 1000px) {
    .multi-images-container-section>p {
        -moz-column-count: 2 !important;
        -webkit-column-count: 2 !important;
        column-count: 2 !important;
    }
}

@media screen and (max-width: 400px) {
    .multi-images-container-section>p {
        -moz-column-count: 1 !important;
        -webkit-column-count: 1 !important;
        column-count: 1 !important;
    }
}

/* Poem */
.poem-div {
    font-family: 'HuiZongGong-tc', 'HuiZongGong-sc', cursive;
}

/* About Page */
.main-page-right-panel-container {
    font-family: 'HanyiSentyFlorCalligraphy', cursive;
    border: 1px solid var(--theme-color, #ea6f5a);
    background-color: var(--global-theme-color-blur, #ea6f5a1a);
    border-radius: var(--global-el-border-radius, 10px);
    margin: 0 auto 20px;
    max-width: 400px;
    text-align: center;
}

.main-page-about-me-avatar {
    max-width: 100px;
    margin-top: 20px;
    border-radius: var(--avatar-border-radius, 50%);
    overflow: hidden;
}

.main-page-about-me-title {
    margin: 10px 0 5px !important;
    font-size: 1.8rem !important;
}

.main-page-about-me-description {
    margin: 0 0 10px !important;
    font-size: 1.4rem !important;
}

.main-page-about-me-links {
    margin: 0 0 10px !important;
}

.main-page-about-me-links>a {
    margin: 0 5px 0;
    text-decoration: none;
}

.main-page-about-me-links>a>svg:hover {
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.main-page-about-me-image-links {
    margin: 0 0 10px !important;
}
