:root {
    --mainpage-ranjana-font: 'NithyaRanjana', serif;
    --mainpage-jiagu-font: 'ShirakawaKoukotsu', 'ShirakawaKoukotsu-2', 'FZJiaGW', serif;
    --mainpage-zhuanwen-font: 'ShirakawaTenbun', 'ShirakawaTenbun-2', 'FZXiaoZhuan', serif;
    --mainpage-jinwen-font: 'ShirakawaKinbun', 'ShirakawaKinbun-2', serif;
    --mainpage-cjkext-font: 'Jigmo', 'Jigmo-2', 'Jigmo-3', serif;
}

/* --- Docsify --- */

/* Cover */
section.cover h1 {
    font-family: var(--global-cover-font);
}

section.cover p {
    font-family: var(--global-cover-paragraph-font);
}

.cover-page-scroll-down-chevron-div {
    margin: 2.5rem 0 0;
    position: absolute;
    left: calc(50% - 0.625rem);
}

.cover-page-scroll-down-chevron {
    position: relative;
    animation: moveChevron var(--global-transition-duration-very-slow) infinite;
}

@keyframes moveChevron {
    0% {
        top: 0;
        opacity: var(--global-opacity-very-weak);
    }

    50% {
        top: 0.9375rem;
        opacity: var(--global-opacity-none);
    }

    100% {
        top: 0;
        opacity: var(--global-opacity-very-weak);
    }
}

/* Sidebar */
.page-sidebar-title-class {
    font-size: 2rem;
    font-family: var(--global-sidebar-name-font);
    color: var(--theme-color);
}

/* --- Personal Components --- */

/* Global */

/* Language Support */
.minority-language-font {
    font-family: var(--global-minority-lang-font);
}

.minority-language-font-ranjana {
    font-family: var(--mainpage-ranjana-font);
}

.minority-language-font-jiagu {
    font-family: var(--mainpage-jiagu-font);
}

.minority-language-font-zhuanwen {
    font-family: var(--mainpage-zhuanwen-font);
}

.minority-language-font-jinwen {
    font-family: var(--mainpage-jinwen-font);
}

.minority-language-font-cjkext {
    font-family: var(--mainpage-cjkext-font);
}

/* Different Writing Direction div */
.writing-direction-rtl-div {
    direction: rtl;
    text-align: right;

    blockquote {
        border-right: var(--global-border-emphasis) var(--theme-color);
        border-left: 0;
        padding-right: 1.25rem;
        padding-left: 0;
    }
}

.writing-direction-vertical-ltr-div {
    writing-mode: vertical-lr;
    float: left;
}

.writing-direction-vertical-rtl-div {
    writing-mode: vertical-rl;
    float: right;
}

.writing-direction-vertical-div {
    padding: 1rem 0;
    border-top: var(--global-border) var(--border-color);
    border-bottom: var(--global-border) var(--border-color);

    h1 {
        margin: 0 0 0 1.2rem;
    }

    h2 {
        margin: 0 2.8125rem 0 1.2rem;
    }

    h3 {
        margin: 0 2.5rem 0 1.2rem;
    }

    figure,
    p {
        margin: 0 1.2rem;
    }

    blockquote {
        margin: 0 2rem;
        border-top: var(--global-border-emphasis) var(--theme-color);
        border-left: 0;
        padding-top: 1.25rem;
        padding-left: 0;
    }

    iframe {
        margin: 0 1.2rem;
    }

    pre,
    output {
        margin: 0 1.2rem;
    }

    code {
        margin: 0.125rem 0;
    }

    pre>code {
        padding: 0.3125rem 1.76rem;
    }

    output {
        padding: 1.4rem 1.7rem;
    }

    output:last-child {
        margin-left: 0;
    }

    output:first-child {
        margin-right: 0;
    }

    pre:after,
    output:after {
        padding: 0.625rem 0.3125rem 0.625rem 0;
    }
}

div:has(.writing-direction-vertical-div) {
    overflow-y: hidden;
    overflow-x: auto;
    height: var(--global-writing-container-height);
}

/* Multi-Images Container */
.multi-images-container-section>p {
    line-height: 0;
    column-count: 3;
    column-gap: 0.3125rem;
}

.multi-images-container-section>p>img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;

    margin: 0.3125rem 0 0 !important;
}

@media screen and (max-width: 1000px) {
    .multi-images-container-section>p {
        column-count: 2;
    }
}

@media screen and (max-width: 400px) {
    .multi-images-container-section>p {
        column-count: 1;
    }
}

/* Poem */
.poem-div {
    font-family: var(--global-poem-font);
}

/* About Page */
.main-page-right-panel-container {
    font-family: var(--global-handwriting-font);
    border: var(--global-border) var(--theme-color);
    background-color: var(--global-theme-color-blur);
    border-radius: var(--global-el-border-radius);
    margin: 0 auto 1.25rem;
    max-width: var(--global-sidenote-width);
    text-align: center;
}

.main-page-about-me-avatar {
    max-width: var(--global-icon-size-large);
    margin-top: 1.25rem;
    border-radius: var(--global-avatar-border-radius);
    overflow: hidden;
}

.main-page-right-panel-container .main-page-about-me-title {
    margin: 0.625rem 0 0.3125rem;
    font-size: 1.8rem;
}

.main-page-right-panel-container .main-page-about-me-description {
    margin: 0 0 0.625rem;
    font-size: 1.4rem;
}

.main-page-right-panel-container .main-page-about-me-links {
    margin: 0 0 0.625rem;
}

.main-page-about-me-links>a {
    margin: 0 0.3125rem 0;
    text-decoration: none;
}

.main-page-about-me-links>a>svg {
    transition-duration: var(--global-transition-duration);
}

.main-page-about-me-links>a>svg:hover {
    transform: scale(var(--global-transform-ratio-big));
}

.main-page-right-panel-container .main-page-about-me-image-links {
    margin: 0 0 0.625rem;
}
