:root {
    --mainpage-ranjana-font: 'NithyaRanjana', serif;
    --mainpage-jiagu-font: 'ShirakawaKoukotsu', 'ShirakawaKoukotsu-2', 'FZJiaGW', serif;
    --mainpage-zhuanwen-font: 'ShirakawaTenbun', 'ShirakawaTenbun-2', 'FZXiaoZhuan', serif;
    --mainpage-jinwen-font: 'ShirakawaKinbun', 'ShirakawaKinbun-2', serif;
    --mainpage-cjkext-font: 'Jigmo', 'Jigmo-2', 'Jigmo-3', serif;
}

/* --- Docsify --- */

/* Cover */
section.cover h1 {
    font-family: var(--global-cover-font);
}

section.cover p {
    font-family: var(--global-cover-paragraph-font);
}

.cover-page-scroll-down-chevron-div {
    margin: 2.5rem 0 0;
    position: absolute;
    left: calc(50% - 0.625rem);
}

.cover-page-scroll-down-chevron {
    position: relative;
    animation: moveChevron var(--global-transition-duration-very-slow) infinite;
}

@keyframes moveChevron {
    0% {
        top: 0;
        opacity: var(--global-opacity-very-weak);
    }

    50% {
        top: 0.9375rem;
        opacity: var(--global-opacity-none);
    }

    100% {
        top: 0;
        opacity: var(--global-opacity-very-weak);
    }
}

/* Sidebar */
.page-sidebar-title-class {
    font-size: 2rem;
    font-family: var(--global-sidebar-name-font);
    color: var(--theme-color);
}

/* --- Personal Components --- */

/* Global */

/* Language Support */
.minority-language-font {
    font-family: var(--global-minority-lang-font);
}

.minority-language-font-ranjana {
    font-family: var(--mainpage-ranjana-font);
}

.minority-language-font-jiagu {
    font-family: var(--mainpage-jiagu-font);
}

.minority-language-font-zhuanwen {
    font-family: var(--mainpage-zhuanwen-font);
}

.minority-language-font-jinwen {
    font-family: var(--mainpage-jinwen-font);
}

.minority-language-font-cjkext {
    font-family: var(--mainpage-cjkext-font);
}
