/* Docsify Search */
.input-wrap input[type=search] {
    background: var(--bg-color);
    color: var(--sidebar-text-color);
}

/* Docsify Copy Code */
pre .docsify-copy-code-button {
    border-radius: var(--global-icon-border-radius, 5px);
}

pre .docsify-copy-code-button span {
    border-radius: var(--global-icon-border-radius, 5px);
}

/* Docsify Tabs */
.docsify-tabs__tab:not(.docsify-tabs__tab--active) {
    cursor: pointer;
    transition-duration: var(--global-transition-duration, 500ms);
}

.docsify-tabs__tab:not(.docsify-tabs__tab--active):hover {
    color: var(--theme-color, #ea6f5a);
}

.docsify-tabs--material>.docsify-tabs__content {
    border-color: var(--border-color);
}

/* Docsify Pagination */
.docsify-pagination-container .pagination-item a .pagination-item-title {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition-duration: var(--global-transition-duration, 500ms);
}

.docsify-pagination-container .pagination-item a:hover .pagination-item-title {
    text-decoration-color: var(--theme-color, #ea6f5a);
}

.pagination-item:not(:last-child) a .pagination-item-label, .pagination-item:not(:last-child) a .pagination-item-subtitle, .pagination-item:not(:last-child) a .pagination-item-title {
    transition-duration: var(--global-transition-duration, 500ms) !important;
}

.docsify-pagination-container {
    border-top: 1px solid var(--border-color) !important;
}
