/* --- Docsify --- */

/* Cover */
section.cover h1 {
    font-family: var(--global-cover-font);
}

section.cover p {
    font-family: var(--global-cover-paragraph-font);
}

section.cover img.ignore-view-full-image-img {
    border-radius: var(--global-avatar-border-radius);
}

.cover-page-scroll-down-chevron-div {
    margin: 2.5rem 0 0;
    position: absolute;
    left: calc(50% - 0.625rem);
}

.cover-page-scroll-down-chevron {
    position: relative;
    animation: moveChevron var(--global-transition-duration-very-slow) infinite;
}

@keyframes moveChevron {
    0% {
        top: 0;
        opacity: var(--global-opacity-very-weak);
    }

    50% {
        top: 0.9375rem;
        opacity: var(--global-opacity-none);
    }

    100% {
        top: 0;
        opacity: var(--global-opacity-very-weak);
    }
}

/* Sidebar */
.page-sidebar-title-class {
    font-size: 2rem;
    font-family: var(--global-sidebar-name-font);
    color: var(--theme-color);
    transition-duration: var(--global-transition-duration);
}

.page-sidebar-title-class:hover {
    color: var(--global-theme-color-7);
}

/* --- Docsify Search --- */
.input-wrap input[type=search] {
    background: var(--bg-color);
    color: var(--sidebar-text-color);
}

/* --- Docsify Copy Code --- */
pre .docsify-copy-code-button {
    border-radius: var(--global-icon-border-radius);
}

pre .docsify-copy-code-button span {
    border-radius: var(--global-icon-border-radius);
}

/* --- Docsify Tabs --- */
.docsify-tabs__tab:not(.docsify-tabs__tab--active) {
    cursor: pointer;
    transition-duration: var(--global-transition-duration);
}

.docsify-tabs__tab:not(.docsify-tabs__tab--active):hover {
    color: var(--theme-color);
}

.docsify-tabs--material>.docsify-tabs__content {
    border-color: var(--border-color);
}

/* --- Docsify Pagination --- */
.docsify-pagination-container .pagination-item a .pagination-item-title {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition-duration: var(--global-transition-duration);
}

.docsify-pagination-container .pagination-item a:hover .pagination-item-title {
    text-decoration-color: var(--theme-color);
}

.markdown-section .pagination-item:not(:last-child) a .pagination-item-label,
.markdown-section .pagination-item:not(:last-child) a .pagination-item-subtitle,
.markdown-section .pagination-item:not(:last-child) a .pagination-item-title {
    transition-duration: var(--global-transition-duration);
}

.markdown-section .docsify-pagination-container {
    border-top: var(--global-border) var(--border-color);
}

.docsify-pagination-container:not(:has(.pagination-item)) {
    border-top: 0;
    margin-top: 2rem;
}

/* --- Docsify Example Panels --- */
:root {
    --docsify-example-panels-document-width: var(--global-content-width);
}

.docsify-example-panels .left-panel,
.docsify-example-panels .right-panel {
    padding-bottom: 0;
    padding-top: 0;
}

.markdown-section>:not(blockquote):not(.tip):not(.warn):has(+.docsify-example-panels) {
    margin-bottom: 0;
}

.markdown-section>:is(blockquote, hr, .tip, .warn):has(+.docsify-example-panels),
.markdown-section>:is(blockquote, hr, .tip, .warn):has(+.docsify-example-panels) :last-child:not(.markdown-section>:is(blockquote, hr, .tip, .warn):has(+.docsify-example-panels) :not(:last-child) *) {
    margin-bottom: 0.8rem;
}

.docsify-example-panels :last-child:not(.docsify-example-panels :not(:last-child) *):not(blockquote):not(.tip):not(.warn) {
    margin-bottom: 0;
}

.docsify-example-panels :is(blockquote, hr, .tip, .warn):last-child:not(.docsify-example-panels :not(:last-child) *),
.docsify-example-panels :is(blockquote, hr, .tip, .warn):last-child:not(.docsify-example-panels :not(:last-child) *) :last-child:not(.docsify-example-panels :is(blockquote, hr, .tip, .warn):last-child:not(.docsify-example-panels :not(:last-child) *) :not(:last-child) *) {
    margin-bottom: 0.8rem;
}

.docsify-example-panels>:has(+.docsify-example-panel):not(blockquote):not(.tip):not(.warn),
.docsify-example-panels>:has(+.docsify-example-panel) :last-child:not(.docsify-example-panels>:has(+.docsify-example-panel) :not(:last-child) *):not(blockquote):not(.tip):not(.warn) {
    margin-bottom: 0;
}

.docsify-example-panels>:is(blockquote, hr, .tip, .warn):has(+.docsify-example-panel),
.docsify-example-panels>:has(+.docsify-example-panel) :is(blockquote, hr, .tip, .warn):last-child:not(.docsify-example-panels>:has(+.docsify-example-panel) :not(:last-child) *),
.docsify-example-panels>:is(blockquote, hr, .tip, .warn):has(+.docsify-example-panel) :last-child:not(.docsify-example-panels>:is(blockquote, hr, .tip, .warn):has(+.docsify-example-panel) :not(:last-child) *),
.docsify-example-panels>:has(+.docsify-example-panel) :is(blockquote, hr, .tip, .warn):last-child:not(.docsify-example-panels>:has(+.docsify-example-panel) :not(:last-child) *) :last-child:not(.docsify-example-panels>:has(+.docsify-example-panel) :is(blockquote, hr, .tip, .warn):last-child:not(.docsify-example-panels>:has(+.docsify-example-panel) :not(:last-child) *) :not(:last-child) *) {
    margin-bottom: 0.8rem;
}


.markdown-section> :is(blockquote, hr, .tip, .warn):has(+ .docsify-example-panels :is(h1, h2, h3, h4, h5):first-child:not(.docsify-example-panels :not(:first-child) *)),
.markdown-section> :is(blockquote, hr, .tip, .warn):has(+ .docsify-example-panels :is(h1, h2, h3, h4, h5):first-child:not(.docsify-example-panels :not(:first-child) *)) :last-child:not(.markdown-section> :is(blockquote, hr, .tip, .warn):has(+ .docsify-example-panels :is(h1, h2, h3, h4, h5):first-child:not(.docsify-example-panels :not(:first-child) *)) :not(:last-child) *) {
    margin-bottom: 0;
}

.docsify-example-panels :is(blockquote, hr, .tip, .warn):last-child:not(.docsify-example-panels :not(:last-child) *):has(+ .docsify-example-panels :is(h1, h2, h3, h4, h5):first-child:not(.docsify-example-panels :not(:first-child) *)),
.docsify-example-panels :is(blockquote, hr, .tip, .warn):last-child:not(.docsify-example-panels :not(:last-child) *):has(+ .docsify-example-panels :is(h1, h2, h3, h4, h5):first-child:not(.docsify-example-panels :not(:first-child) *)) :last-child:not(.docsify-example-panels :is(blockquote, hr, .tip, .warn):last-child:not(.docsify-example-panels :not(:last-child) *):has(+ .docsify-example-panels :is(h1, h2, h3, h4, h5):first-child:not(.docsify-example-panels :not(:first-child) *)) :not(:last-child) *) {
    margin-bottom: 0;
}

.docsify-example-panels> :is(blockquote, hr, .tip, .warn):has(+ .docsify-example-panel :is(h1, h2, h3, h4, h5):first-child:not(.docsify-example-panel :not(:first-child) *)),
.docsify-example-panels> :has(+ .docsify-example-panel) :is(blockquote, hr, .tip, .warn):last-child:not(.docsify-example-panels > :has(+ .docsify-example-panel) :not(:last-child) *):has(+ .docsify-example-panel :is(h1, h2, h3, h4, h5):first-child:not(.docsify-example-panel :not(:first-child) *)),
.docsify-example-panels> :is(blockquote, hr, .tip, .warn):has(+ .docsify-example-panel :is(h1, h2, h3, h4, h5):first-child:not(.docsify-example-panel :not(:first-child) *)) :last-child:not(.docsify-example-panels> :is(blockquote, hr, .tip, .warn):has(+ .docsify-example-panel :is(h1, h2, h3, h4, h5):first-child:not(.docsify-example-panel :not(:first-child) *)) :not(:last-child) *),
.docsify-example-panels> :has(+ .docsify-example-panel) :is(blockquote, hr, .tip, .warn):last-child:not(.docsify-example-panels > :has(+ .docsify-example-panel) :not(:last-child) *):has(+ .docsify-example-panel :is(h1, h2, h3, h4, h5):first-child:not(.docsify-example-panel :not(:first-child) *)) :last-child:not(.docsify-example-panels> :has(+ .docsify-example-panel) :is(blockquote, hr, .tip, .warn):last-child:not(.docsify-example-panels > :has(+ .docsify-example-panel) :not(:last-child) *):has(+ .docsify-example-panel :is(h1, h2, h3, h4, h5):first-child:not(.docsify-example-panel :not(:first-child) *)) :not(:last-child) *) {
    margin-bottom: 0;
}

/* --- Docsify Mermaid --- */
.mermaid button svg {
    color: var(--theme-color);
}
