:root {
    --bg-color: #1e1e2e;
    --text-color: #cdd6f4;
    --heading-color: #cdd6f4;
    --muted-color: #a6adc8;
    --em-color: #7f849c;
    --h6-color: #a6adc8;
    --sidebar-text-color: #cdd6f4;
    --sidebar-title-color: #cdd6f4;
    --border-color: #313244;
    --border-color-strong: #45475a;
    --border-color-mid: #45475a;
    --code-bg: #313244;
    --zebra-bg: #313244;
    --tip-code-bg: #45475a;
    --inline-code-color: #cba6f7;
    --code-text-color: #cdd6f4;
    --accent-color: #f38ba8;
    --accent-text-color: #1e1e2e;
    --blur-color: rgba(203, 166, 247, .1);
    --sidebar-toggle-bg: transparent;
    --sidebar-border-color: #313244;

    --cal-theme-color-s-1: -48;
    --cal-theme-color-s-2: -32;
    --cal-theme-color-s-3: -18;
    --cal-theme-color-s-4: -8;
    --cal-theme-color-s-5: 6;
    --cal-theme-color-s-6: 14;
    --cal-theme-color-s-7: 24;
    --cal-theme-color-s-8: 32;
    --cal-theme-color-l-1: -44;
    --cal-theme-color-l-2: -30;
    --cal-theme-color-l-3: -18;
    --cal-theme-color-l-4: -8;
    --cal-theme-color-l-5: 3;
    --cal-theme-color-l-6: 6;
    --cal-theme-color-l-7: 12;
    --cal-theme-color-l-8: 18;
}
